.background-login,
.login-form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}


input {
  border: 3px white;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 1rem;
  align-self: center;
  padding-right: 180px;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-top: 5px;
}

.background-login {
  background-image: linear-gradient(
    to right bottom,
    #f25555,
    lightcoral,
    #edabba
  );
}

.login-div {
  text-align: start;
  padding-bottom: 3px;
}

h1 {
  padding: 1.5rem;
  
}

.login-form {
  justify-content: start;
  padding-top: 3rem;
}

