.backgrounds,
.logform {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.lab {
  align-self: left;
  margin-left: 3.5rem;
  color: rgba(0, 0, 255, 0.889);
  font-weight: 400;
  font-size: 1rem;
}
.inp {
  border: 3px solid rgba(0, 0, 255, 0.656);
  border-radius: 3px;
  padding: 1rem;
  width: 15rem;
  align-self: center;
}
.butt {
  border: none;
  padding: 1rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.656);
  transform: translate(0, -14rem);
  font-size: 1rem;
  color: white;
  align-self: center;
}
.naslov {
  color: rgba(0, 0, 255, 0.656);
  transform: translate(0, 10rem);
}
span {
  transform: translate(11rem, -3.5rem);
  border-radius: 3px;
  padding: 0.8rem;
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.656);
  color: white;
}
