.background-signup,
.signup-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    #f25555,
    lightcoral,
    #edabba
  );
}
label {
  align-self: start;
  margin-bottom: 3px;
}

input {
  border: 3px white;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 1rem;
  align-self: start;
  padding-right: 180px;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-top: 5px;
}
.background-signup {
  border-left: 5px solid white;
}
